In [1]:
import pandas as pd
import requests
from datetime import datetime

In [2]:
df = pd.read_csv("../data/US_youtube_trending_data.csv")
df.head()

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,2020-08-11T19:20:14Z,UCvtRTOMP2TqYqu51xNrqAzg,Brawadis,22,2020-08-12T00:00:00Z,brawadis|prank|basketball|skits|ghost|funny vi...,1514614,156908,5855,35313,https://i.ytimg.com/vi/3C66w5Z0ixs/default.jpg,False,False,SUBSCRIBE to BRAWADIS ▶ http://bit.ly/Subscrib...
1,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,2020-08-11T17:00:10Z,UC0ZV6M2THA81QT9hrVWJG3A,Apex Legends,20,2020-08-12T00:00:00Z,Apex Legends|Apex Legends characters|new Apex ...,2381688,146739,2794,16549,https://i.ytimg.com/vi/M9Pmf9AB4Mo/default.jpg,False,False,"While running her own modding shop, Ramya Pare..."
2,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,2020-08-11T16:34:06Z,UCYzPXprvl5Y-Sf0g4vX-m6g,jacksepticeye,24,2020-08-12T00:00:00Z,jacksepticeye|funny|funny meme|memes|jacksepti...,2038853,353787,2628,40221,https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg,False,False,I left youtube for a month and this is what ha...
3,kXLn3HkpjaA,XXL 2020 Freshman Class Revealed - Official An...,2020-08-11T16:38:55Z,UCbg_UMjlHJg_19SZckaKajg,XXL,10,2020-08-12T00:00:00Z,xxl freshman|xxl freshmen|2020 xxl freshman|20...,496771,23251,1856,7647,https://i.ytimg.com/vi/kXLn3HkpjaA/default.jpg,False,False,Subscribe to XXL → http://bit.ly/subscribe-xxl...
4,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,2020-08-11T15:10:05Z,UCDVPcEbVLQgLZX0Rt6jo34A,Mr. Kate,26,2020-08-12T00:00:00Z,The LaBrant Family|DIY|Interior Design|Makeove...,1123889,45802,964,2196,https://i.ytimg.com/vi/VIUo6yapDbc/default.jpg,False,False,Transforming The LaBrant Family's empty white ...

In [ ]:
channel_ids = df['channelId'].unique()
channel_dates = {}
i = 0

for channel_id in channel_ids:
    try:
        url = "https://www.googleapis.com/youtube/v3/channels?part=snippet&id={channel_id}&key=AIzaSyADc6t-6YmQ4Wzs3GK2NFerorrMx0dxNxY".format(channel_id = channel_id)
        response = requests.get(url)

        channel_date = response.json()['items'][0]['snippet']['publishedAt'].split('T')[0] + "T00:00:00"
        channel_dates[channel_id] = channel_date
        i+=1
        print("Completed " + str(i) + "/" + str(len(channel_ids)))
    except:
        print("Error getting channel " + channel_id)

In [4]:
df['channel_age'] = df.apply(lambda row: (datetime.fromisoformat(row['trending_date'].split('T')[0] + "T00:00:00") - datetime.fromisoformat(channel_dates[row['channelId']])).days if row['channelId'] in channel_dates.keys() else -1, axis=1)
df.head()

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description,channel_age
0,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,2020-08-11T19:20:14Z,UCvtRTOMP2TqYqu51xNrqAzg,Brawadis,22,2020-08-12T00:00:00Z,brawadis|prank|basketball|skits|ghost|funny vi...,1514614,156908,5855,35313,https://i.ytimg.com/vi/3C66w5Z0ixs/default.jpg,False,False,SUBSCRIBE to BRAWADIS ▶ http://bit.ly/Subscrib...,1958
1,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,2020-08-11T17:00:10Z,UC0ZV6M2THA81QT9hrVWJG3A,Apex Legends,20,2020-08-12T00:00:00Z,Apex Legends|Apex Legends characters|new Apex ...,2381688,146739,2794,16549,https://i.ytimg.com/vi/M9Pmf9AB4Mo/default.jpg,False,False,"While running her own modding shop, Ramya Pare...",566
2,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,2020-08-11T16:34:06Z,UCYzPXprvl5Y-Sf0g4vX-m6g,jacksepticeye,24,2020-08-12T00:00:00Z,jacksepticeye|funny|funny meme|memes|jacksepti...,2038853,353787,2628,40221,https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg,False,False,I left youtube for a month and this is what ha...,4918
3,kXLn3HkpjaA,XXL 2020 Freshman Class Revealed - Official An...,2020-08-11T16:38:55Z,UCbg_UMjlHJg_19SZckaKajg,XXL,10,2020-08-12T00:00:00Z,xxl freshman|xxl freshmen|2020 xxl freshman|20...,496771,23251,1856,7647,https://i.ytimg.com/vi/kXLn3HkpjaA/default.jpg,False,False,Subscribe to XXL → http://bit.ly/subscribe-xxl...,5088
4,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,2020-08-11T15:10:05Z,UCDVPcEbVLQgLZX0Rt6jo34A,Mr. Kate,26,2020-08-12T00:00:00Z,The LaBrant Family|DIY|Interior Design|Makeove...,1123889,45802,964,2196,https://i.ytimg.com/vi/VIUo6yapDbc/default.jpg,False,False,Transforming The LaBrant Family's empty white ...,4004

In [5]:
columns_to_delete = ['video_id', 'title', 'channelId', 'channelTitle', 'tags', 'thumbnail_link', 'comments_disabled', 'ratings_disabled', 'description']

for column in columns_to_delete : 
    df.drop(column, axis='columns', inplace=True)
    
df.head()

,publishedAt,categoryId,trending_date,view_count,likes,dislikes,comment_count,channel_age
0,2020-08-11T19:20:14Z,22,2020-08-12T00:00:00Z,1514614,156908,5855,35313,1958
1,2020-08-11T17:00:10Z,20,2020-08-12T00:00:00Z,2381688,146739,2794,16549,566
2,2020-08-11T16:34:06Z,24,2020-08-12T00:00:00Z,2038853,353787,2628,40221,4918
3,2020-08-11T16:38:55Z,10,2020-08-12T00:00:00Z,496771,23251,1856,7647,5088
4,2020-08-11T15:10:05Z,26,2020-08-12T00:00:00Z,1123889,45802,964,2196,4004

In [6]:
df['days_uploaded'] = df.apply(lambda row: (datetime.fromisoformat(row['trending_date'].split('T')[0] + "T00:00:00") - datetime.fromisoformat(row['publishedAt'].split('T')[0] + "T00:00:00")).days, axis=1)

df.drop('publishedAt', axis='columns', inplace=True)
df.drop('trending_date', axis='columns', inplace=True)

df.head()

,categoryId,view_count,likes,dislikes,comment_count,channel_age,days_uploaded
0,22,1514614,156908,5855,35313,1958,1
1,20,2381688,146739,2794,16549,566,1
2,24,2038853,353787,2628,40221,4918,1
3,10,496771,23251,1856,7647,5088,1
4,26,1123889,45802,964,2196,4004,1

In [7]:
df.to_csv('../data/extracted_data.csv', index=False)